*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Segoe UI, sans-serif;
}

.app{
  min-height:100vh;

  background-image:url("/images/satellite-bg.jpg");
  background-size:cover;
  background-position:center;

  color:white;
}

.overlay{
  min-height:100vh;

  background:rgba(0,0,0,0.55);

  backdrop-filter:blur(4px);
}

.navbar{
  padding:25px 50px;
}

.logo{
  font-size:34px;
  font-weight:700;
}

.subtitle{
  color:#b9d6ff;
  margin-top:8px;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:80px;
}

.hero-left{
  width:50%;
}

.hero-left h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero-left p{
  font-size:20px;
  line-height:1.8;
  color:#dfe9ff;
}

.predict-btn{
  margin-top:30px;

  border:none;

  padding:15px 35px;

  border-radius:12px;

  background:#00bfff;

  color:white;

  font-size:18px;

  cursor:pointer;
}

.predict-btn:hover{
  background:#0094ff;
}

.hero-right{
  width:40%;

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:20px;
}

.glass-card{
  background:rgba(255,255,255,0.12);

  border:1px solid rgba(255,255,255,0.2);

  backdrop-filter:blur(10px);

  border-radius:20px;

  padding:25px;

  text-align:center;
}

.glass-card h3{
  margin-bottom:15px;
  color:#d0e7ff;
}

.glass-card h1{
  font-size:40px;
}